﻿@{
    ViewData["Title"] = "Error";
}
<div class="text-center mt-5">
    <div class="error mx-auto" data-text="@this.ViewData["ErrorNumber"]">
        <p class="m-0">@this.ViewData["ErrorNumber"]</p>
    </div>
    <p class="text-dark mb-5 lead">@this.ViewData["ErrorMessage"]</p>
    @*<p>Status Code: @this.Context.Response.StatusCode</p>*@
    @*<p>@this.ViewData["AdditionalMessage"]</p>*@
    @*<p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p>*@
    <a onclick="history.back()">← Back</a>
</div>