﻿@model Wallet.Core.Dtos.Currency.BaseCurrencyWithRatesDto
@inject SignInManager<User> SignInManager

    @{
    this.ViewData["Title"] = "Index";
}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Currencies</h3>
                <div class="row justify-content-center">
                    <div class="col-auto w-75">
                        <div class="card shadow">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <p class="text-primary m-0 fw-bold"> @Model.Rates.Count Currencies</p>
                                @if (User.IsInRole("Admin"))
                                {
                                <button class="accounts-plus-button" data-bs-toggle="modal"
                                    data-bs-target="#createModal">+</button>
                                }
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                    aria-describedby="dataTable_info">
                                    <div class="row">
    <div class="col-md-6 text-nowrap">
        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
            <label class="form-label">Change Base</label>
            <form asp-controller="Currencies" asp-action="Index" method="get">
                <input type="hidden" name="currencyBase" id="selectedCurrency" value="" />
                <select id="currencyDropdown" class="form-select">
                    <option value=""></option>
                    @foreach (var c in Model.Rates)
                    {
                        <option value="@c.Key">@c.Key</option>
                    }
                </select>
            </form>
        </div>
    </div>
</div>
                                    <table class="table my-0" id="dataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Exchange Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currency in Model.Rates)
        {
            <tr>
                <td>@currency.Key</td>
                <td>@currency.Value</td>
            </tr>
        }
    </tbody>
</table>

                                </div>
                            </div>

                            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="createModalLabel">Add Currency</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="Currencies" asp-action="Create" method="post"
                                                class="create-form">
                                                <div class="mb-3">
                                                    <label for="Name" class="form-label">Name</label>
                                                    <input type="text" class="form-control" id="Name" name="Name"
                                                        required />
                                                    <div class="invalid-feedback" id="NameError"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="CurrencyId" class="form-label">Currency
                                                        ID</label>
                                                    <input type="text" class="form-control" id="CurrencyId" name="Id"
                                                        maxlength="3" required />
                                                    <div class="invalid-feedback" id="CurrencyIdError"></div>
                                                </div>
                                                <button type="submit" class="btn btn-primary" id="createButton"
                                                    disabled>Create</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
    <script src="~/js/Currencies.js"></script>
    }