﻿@{
    this.ViewData["Title"] = "Confirm your user";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">
                You have not confirmed your activation email. Please confirm so that operations can be performed.
                <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Back</button>
            </h3>
        </div>
    </div>
</div>