﻿@model TransferFromAccountViewModel;
@inject SignInManager<User> SignInManager;

@if (Model.IsIncoming)
{
    this.ViewData["Title"] = "Add Money";

}
else
{
    this.ViewData["Title"] = "Create Withdrawal";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                @if (!this.Model.IsConfirmed)
                {
                    <div class="card-header py-3">
                        <h2 class="text-primary fw-bold m-0">Corrections Needed</h2>
                    </div>
                }
                else
                {
                    <div class="card-header py-3">
                        <h2 class="text-primary fw-bold m-0">Confirm Operation</h2>
                    </div>
                }
                @if (!Model.IsConfirmed)
                {
                    @if (Model.IsIncoming)
                    {

                        <form asp-controller="Operations" asp-action="ConfirmTransferFromAccount" method="get">
                            <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                            <input type="hidden" asp-for="@this.Model.UserId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountName" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardId" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardName" readonly />
                            <input type="hidden" asp-for="@this.Model.CurrencyId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountBalance" readonly />
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>From Bank Card</strong></h4>
                                            <span class="text-m">@Model.BankCardName (@Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>To Account</strong></h4>
                                            <span class="text-m">@Model.AccountName (@Model.AccountBalance @Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Amount</strong></h4>
                                            <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                            <span asp-validation-for="Amount" class="text-danger"></span>

                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Description</strong></h4>
                                            <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <button class="btn btn-primary btn-sm" type="submit">
                                                Review & Confirm
                                            </button>
                                            <a asp-controller="Accounts" asp-action="Index" class="btn btn-secondary btn-sm" type="button">Cancel</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Operations" asp-action="ConfirmTransferFromAccount" method="get">
                            <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                            <input type="hidden" asp-for="@this.Model.UserId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountName" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardId" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardName" readonly />
                            <input type="hidden" asp-for="@this.Model.CurrencyId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountBalance" readonly />
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>From Account</strong></h4>
                                            <span class="text-m">@Model.AccountName (@Model.AccountBalance @Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>To Bank Card</strong></h4>
                                            <span class="text-m">@Model.BankCardName</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Amount</strong></h4>
                                            <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                            <span asp-validation-for="Amount" class="text-danger"></span>

                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Description</strong></h4>
                                            <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <button class="btn btn-primary btn-sm" type="submit">
                                                Review & Confirm
                                            </button>
                                            <a asp-controller="Accounts" asp-action="Index" class="btn btn-secondary btn-sm" type="button">Cancel</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                }
                else
                {
                    @if (Model.IsIncoming)
                    {

                        <form asp-controller="Operations" asp-action="TransferFromAccountCreate" method="post">
                            <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                            <input type="hidden" asp-for="@this.Model.UserId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountName" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardId" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardName" readonly />
                            <input type="hidden" asp-for="@this.Model.CurrencyId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountBalance" readonly />
                            <input type="hidden" asp-for="@this.Model.Amount" readonly />
                            <input type="hidden" asp-for="@this.Model.Description" readonly />
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>From Bank Card</strong></h4>
                                            <span class="text-m">@Model.BankCardName (@Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>To Account</strong></h4>
                                            <span class="text-m">@Model.AccountName (@Model.AccountBalance @Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Amount</strong></h4>
                                            <span class="text-m">@Model.Amount</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Description</strong></h4>
                                            <span class="text-m">@Model.Description</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <button class="btn btn-warning btn-sm" type="submit">
                                                Execute
                                            </button>
                                            <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Edit again</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Operations" asp-action="TransferFromAccountCreate" method="post">
                            <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                            <input type="hidden" asp-for="@this.Model.UserId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountName" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardId" readonly />
                            <input type="hidden" asp-for="@this.Model.BankCardName" readonly />
                            <input type="hidden" asp-for="@this.Model.CurrencyId" readonly />
                            <input type="hidden" asp-for="@this.Model.AccountBalance" readonly />
                            <input type="hidden" asp-for="@this.Model.Amount" readonly />
                            <input type="hidden" asp-for="@this.Model.Description" readonly />
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>From Account</strong></h4>
                                            <span class="text-m">@Model.AccountName (@Model.AccountBalance @Model.CurrencyId)</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>To Bank Card</strong></h4>
                                            <span class="text-m">@Model.BankCardName</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Amount</strong></h4>
                                            <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                            <span asp-validation-for="Amount" class="text-danger"></span>

                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h4 class="mb-0"><strong>Description</strong></h4>
                                            <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <button class="btn btn-warning btn-sm" type="submit">
                                                Execute
                                            </button>
                                            <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Edit again</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                }


            </div>
        </div>
    </div>
</div>









