﻿@model CreateTransferViewModel;
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Add Money";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Add Money to Account</h2>

                </div>
                @if (!Model.HasBankCards)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Bank Cards registered in the system</strong></h4>
                                    <span class="text-m"><a href="/BankCards/Index">Add some Bank Cards first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else if (!Model.HasAccounts)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Accounts created in the system</strong></h4>
                                    <span class="text-m"><a href="/Accounts/Index">Add some Accounts first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <form asp-controller="Operations" asp-action="ConfirmTransferIncoming" method="get">
                        <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                        <input type="hidden" asp-for="@this.Model.UserId" readonly />
                        <input type="hidden" asp-for="@this.Model.BankCardId" id="selectedBankCardId" />
                        <input type="hidden" asp-for="@this.Model.AccountId" />
                        <input type="hidden" asp-for="@this.Model.CurrencyId" />
                        <input type="hidden" asp-for="@this.Model.BankCardName" />
                        <input type="hidden" asp-for="@this.Model.AccountName" />
                        <input type="hidden" asp-for="@this.Model.Balance" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From Bank Card</strong></h4>
                                        <select class="form-select" id="bankCardDropdown">
                                            <option value="-1" selected>-- Select a Bank Card --</option>
                                            @foreach (var bankCard in Model.BankCards)
                                            {
                                                <option value="@bankCard.Id" data-currency-id="@bankCard.CurrencyId" data-bankcardname-id="@bankCard.Name">@($"{bankCard.Name} ({bankCard.CurrencyId})")</option>
                                        
                                            }
                                        </select>



                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To Account</strong></h4>
                                        <span class="text-m" id="accountDropdownOrMessage">
                                            Select a Bank Card first
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0" id="selectedCurrencyAmount"><strong>Amount</strong></h4>
                                        <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>Description</strong></h4>
                                        <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>


                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <button class="btn btn-primary btn-sm" type="submit" id="submitButton" style="display:none;">
                                            Review & Confirm
                                        </button>
                                        <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Back to List</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                }
        
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var bankCardDropdown = document.getElementById("bankCardDropdown");
        var accountDropdownOrMessage = document.getElementById("accountDropdownOrMessage");
        var accountMessage = document.getElementById("selectedCurrencyAmount");
        var accounts = @Json.Serialize(Model.Accounts);
        var submitButton = document.getElementById("submitButton");
        //console.log("Accounts:", (at)Json.Serialize(Model.Accounts));
        //console.log("Accounts after:", accounts);

        bankCardDropdown.addEventListener("change", function () {
            var selectedOption = bankCardDropdown.options[bankCardDropdown.selectedIndex];
            var selectedCurrencyId = selectedOption.getAttribute("data-currency-id");
            var selectedBankCardId = selectedOption.value;
            var selectedBankCardName = selectedOption.getAttribute("data-bankcardname-id");
            var correspondingAccount = findAccountByCurrencyId(selectedCurrencyId);
            //var submitButton = document.getElementById("submitButton");

            //console.log("Selected Currency ID:", selectedCurrencyId);
            //console.log("Corresponding Account:", correspondingAccount);
            //var correspondingAccount = accounts.find(account => account.currencyId === selectedCurrencyId);

            if (selectedBankCardId === "-1") {                
                accountDropdownOrMessage.textContent = "Select a Bank Card first";
                submitButton.style.display = "none";
            } else if (correspondingAccount) {
                accountDropdownOrMessage.textContent = correspondingAccount.name + " (" + correspondingAccount.balance + " " + correspondingAccount.currencyId + ")";
                document.querySelector('input[name="AccountId"]').value = correspondingAccount.id;
                document.querySelector('input[name="CurrencyId"]').value = correspondingAccount.currencyId;
                document.querySelector('input[name="BankCardName"]').value = selectedBankCardName;
                document.querySelector('input[name="AccountName"]').value = correspondingAccount.name;
                document.querySelector('input[name="Balance"]').value = correspondingAccount.balance;
                document.querySelector('#selectedBankCardId').value = selectedBankCardId;
                document.selectedCurrencyAmount = "Amount (" + correspondingAccount.currencyId + ")";
                submitButton.style.display = "inline-block";
            } else {
                //accountDropdownOrMessage.textContent = "There is no proper Account for this Currency. Try another Bank Card or create account with Currency " + selectedCurrencyId + ".";
                accountDropdownOrMessage.innerHTML = 'There is no proper Account for this Currency. Try another Bank Card or <a href="/Accounts/Index">create account</a> with Currency ' + selectedCurrencyId + '.';
                document.querySelector('#selectedBankCardId').value = '';
                document.selectedCurrencyAmount = "Amount";
                submitButton.style.display = "none";
            }
        });

        function findAccountByCurrencyId(currencyId) {
            for (var i = 0; i < accounts.length; i++) {
                if (accounts[i].currencyId === currencyId) {
                    return accounts[i];
                }
            }
            return null;
        }

        //var correspondingAccount = accounts.find(account => account.CurrencyId === selectedCurrencyId);

    });
</script>








