﻿@model CreateTransferViewModel;
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Create Withdrawal";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Withdraw to Bank Card</h2>

                </div>
                @if (!Model.HasBankCards)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Bank Cards registered in the system</strong></h4>
                                    <span class="text-m"><a href="/BankCards/Index">Add some Bank Cards first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else if (!Model.HasAccounts)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Accounts created in the system</strong></h4>
                                    <span class="text-m"><a href="/Accounts">Add some Accounts first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <form asp-controller="Operations" asp-action="ConfirmTransferNotIncoming" method="get">
                        <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                        <input type="hidden" asp-for="@this.Model.UserId" readonly />
                        <input type="hidden" asp-for="@this.Model.AccountId" id="selectedAccountId" />
                        <input type="hidden" asp-for="@this.Model.BankCardId" />
                        <input type="hidden" asp-for="@this.Model.CurrencyId" />
                        <input type="hidden" asp-for="@this.Model.BankCardName" />
                        <input type="hidden" asp-for="@this.Model.AccountName" />
                        <input type="hidden" asp-for="@this.Model.Balance" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From Account</strong></h4>
                                        <select class="form-select" id="accountDropdown">
                                            <option value="-1" selected>-- Select an Account --</option>
                                            @foreach (var account in Model.Accounts)
                                            {
                                                <option value="@account.Id" 
                                                data-currency-id="@account.CurrencyId" 
                                                data-accountname-id="@account.Name"
                                                data-accountbalance-id="@account.Balance">@($"{account.Name} - {account.Balance} ({account.CurrencyId})")</option>

                                            }
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To Bank Card</strong></h4>
                                        <span class="text-m" id="bankCardDropdownOrMessage">
                                            Select an Account first
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0" id="selectedCurrencyAmount"><strong>Amount</strong></h4>
                                        <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>Description</strong></h4>
                                        <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>


                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <button class="btn btn-primary btn-sm" type="submit" id="submitButton" style="display:none;">
                                            Review & Confirm
                                        </button>
                                        <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Back to List</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                }

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var accountDropdown = document.getElementById("accountDropdown");
        var bankCardDropdownOrMessage = document.getElementById("bankCardDropdownOrMessage");
        var bankCardMessage = document.getElementById("selectedCurrencyAmount");
        var bankCards = @Json.Serialize(Model.BankCards);
        var submitButton = document.getElementById("submitButton");

        accountDropdown.addEventListener("change", function () {
            var selectedOption = accountDropdown.options[accountDropdown.selectedIndex];
            var selectedCurrencyId = selectedOption.getAttribute("data-currency-id");
            var selectedAccountId = selectedOption.value;
            var selectedAccountBalance = selectedOption.getAttribute("data-accountbalance-id")
            var selectedAccountName = selectedOption.getAttribute("data-accountname-id");
            var correspondingBankCard = findBankCardByCurrencyId(selectedCurrencyId);
            

            if (selectedAccountId === "-1") {
                bankCardDropdownOrMessage.textContent = "Select an Account first";
                submitButton.style.display = "none";
            } else if (correspondingBankCard) {
                bankCardDropdownOrMessage.textContent = correspondingBankCard.name + " (" + correspondingBankCard.currencyId + ")";
                document.querySelector('input[name="BankCardId"]').value = correspondingBankCard.id;
                document.querySelector('input[name="CurrencyId"]').value = correspondingBankCard.currencyId;
                document.querySelector('input[name="AccountName"]').value = selectedAccountName;
                document.querySelector('input[name="BankCardName"]').value = correspondingBankCard.name;
                document.querySelector('input[name="Balance"]').value = selectedAccountBalance;
                document.querySelector('#selectedAccountId').value = selectedAccountId;
                document.selectedCurrencyAmount = "Amount (" + correspondingBankCard.currencyId + ")";
                submitButton.style.display = "inline-block";
            } else {                
                bankCardDropdownOrMessage.innerHTML = 'There is no proper Bank Card for this Currency. Try another Account, <a href="/BankCards/Index">add a Bank Card</a> or <a href="/Operations/CreateExchange">exchange between Accounts</a>. ';
                document.querySelector('#selectedAccountId').value = '';
                document.selectedCurrencyAmount = "Amount";
                submitButton.style.display = "none";
            }
        });

        function findBankCardByCurrencyId(currencyId) {
            for (var i = 0; i < bankCards.length; i++) {
                if (bankCards[i].currencyId === currencyId) {
                    return bankCards[i];
                }
            }
            return null;
        }

    });
</script>








