﻿@model PaymentViewModel;
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Create Payment";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Create Payment to User '@this.Model.RecepientUserName'</h2>
                </div>
                @if (!Model.HasSenderAccounts)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Accounts created in the system</strong></h4>
                                    <span class="text-m"><a href="/Accounts">Add some Accounts first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else if (!Model.HasRecepientAccounts)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Recepient has no Accounts created in the system</strong></h4>
                                    <span class="text-m">The payment to '@this.Model.RecepientUserName' is not possible.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <form asp-controller="Operations" asp-action="ProceedPayment" method="get">
                        <input type="hidden" asp-for="@this.Model.IsInternal" readonly />
                        <input type="hidden" asp-for="@this.Model.RecepientUserName" readonly />
                        <input type="hidden" asp-for="@this.Model.SenderUserId" readonly />
                        <input type="hidden" asp-for="@this.Model.RecepientUserId" readonly />
                        <input type="hidden" asp-for="@this.Model.SenderAccountId" id="senderAccountIdInput" />
                        <input type="hidden" asp-for="@this.Model.RecepientAccountId" id="recepientAccountIdInput" />
                        <ul class="list-group list-group-flush">                            
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From Account</strong></h4>
                                        <select class="form-select" id="originAccountDropdown">
                                            <option value="-1">-- Select your Account --</option>
                                            @foreach (var account in Model.SenderAccounts)
                                            {
                                                <option value="@account.Id">@($"{account.Name} - {account.Balance} ({account.CurrencyId})")</option>
                                            }
                                        </select>
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>Possible Currencies for Recepient</strong></h4>
                                        <select class="form-select" id="targetAccountDropdown">
                                            <option value="-1">-- Select a Currency --</option>
                                            @foreach (var account in Model.RecepientAccounts)
                                            {
                                                <option value="@account.Id">@account.CurrencyId</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </li>                            
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <button class="btn btn-primary btn-sm hidden-button" id="submitButton" type="submit">
                                            Proceed
                                        </button>
                                        <a asp-controller="Operations" asp-action="Index" asp-route-sortorder="desc" class="btn btn-secondary btn-sm" type="button">Cancel</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                }
                
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var originAccountDropdown = document.getElementById('originAccountDropdown');
            var targetAccountDropdown = document.getElementById('targetAccountDropdown');
            var submitButton = document.getElementById('submitButton');
            var senderAccountIdInput = document.getElementById('senderAccountIdInput');
            var recepientAccountIdInput = document.getElementById('recepientAccountIdInput');

            originAccountDropdown.addEventListener('change', updateSubmitButtonAndHiddenFields);
            targetAccountDropdown.addEventListener('change', updateSubmitButtonAndHiddenFields);

            function updateSubmitButtonAndHiddenFields() {
                var selectedOriginAccountId = parseInt(originAccountDropdown.value);
                var selectedRecepientAccountId = parseInt(targetAccountDropdown.value);

                senderAccountIdInput.value = selectedOriginAccountId;
                recepientAccountIdInput.value = selectedRecepientAccountId;

                if (selectedOriginAccountId !== -1 && selectedRecepientAccountId !== -1) {
                    submitButton.style.display = 'inline-block';
                } else {
                    submitButton.style.display = 'none';
                }
            }

            // Initial call to set the button visibility and hidden fields based on the default values
            updateSubmitButtonAndHiddenFields();
        });
    </script>
}





