﻿@model CreateSimilarTransferViewModel;
@inject SignInManager<User> SignInManager;

@if (Model.IsIncoming)
{   
    this.ViewData["Title"] = "Add Money";
}
else
{
 
    this.ViewData["Title"] = "Create Withdrawal";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Create Similar Operation</h2>
                </div>
                <form asp-controller="Operations" asp-action="ConfirmSimilarTransfer" method="get">
                    <input type="hidden" asp-for="@this.Model.AccountId" readonly />
                    <input type="hidden" asp-for="@this.Model.BankCardId" readonly />
                    <input type="hidden" asp-for="@this.Model.IsIncoming" readonly />
                    <input type="hidden" asp-for="@this.Model.UserId" readonly />
                    <input type="hidden" asp-for="@this.Model.Type" readonly />
                    <input type="hidden" asp-for="@this.Model.From" readonly />
                    <input type="hidden" asp-for="@this.Model.To" readonly />
                    <input type="hidden" asp-for="@this.Model.CurrencyId" readonly />            
                    <input type="hidden" asp-for="@this.Model.CurrentBalance" readonly />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Type</strong></h4>
                                    <span class="text-m">@Model.Type</span>                            
                                </div>
                            </div>
                        </li>
                        @if (this.Model.IsIncoming)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4>
                                        <span class="text-m">@Model.From</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4>
                                        <span class="text-m">@Model.From (Current Balance: @Model.CurrentBalance @Model.CurrencyId)</span>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (this.Model.IsIncoming)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4>
                                        <span class="text-m">@Model.To (Current Balance: @Model.CurrentBalance @Model.CurrencyId)</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4>
                                        <span class="text-m">@Model.To</span>
                                    </div>
                                </div>
                            </li>
                        }        
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Amount (@Model.CurrencyId)</strong></h4>
                                    <input class="form-control" asp-for="Amount" style="color: royalblue;" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                        </li>               
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Description</strong></h4>
                                    <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </li>                
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <button class="btn btn-primary btn-sm" type="submit">
                                        Review & Confirm
                                    </button>
                                    <a asp-controller="Operations" asp-action="Index" asp-route-sortorder="desc" class="btn btn-secondary btn-sm" type="button">Cancel</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
