﻿@model ExchangeViewModel
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Exchange in Accounts";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Select Accounts for Exchange</h2>
                </div>

                @if (!Model.HasAccounts)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>You have no Accounts created in the system</strong></h4>
                                    <span class="text-m"><a href="/Accounts">Add some Accounts first</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <form asp-controller="Operations" asp-action="ProceedExchange" method="get">
                        <input type="hidden" asp-for="@this.Model.IsInternal" readonly />
                        <input type="hidden" asp-for="@this.Model.SenderUserId" readonly />
                        <input type="hidden" asp-for="@this.Model.RecepientUserId" readonly />
                        <input type="hidden" asp-for="@this.Model.SenderAccountId" />
                        <input type="hidden" asp-for="@this.Model.RecepientAccountId" />               

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From Account</strong></h4>
                                        <select class="form-select" id="originAccountDropdown">
                                            <option value="-1">-- Select an Origin Account --</option>
                                            @foreach (var account in Model.Accounts)
                                            {
                                                <option value="@account.Id">@($"{account.Name} - {account.Balance} ({account.CurrencyId})")</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To Account</strong></h4>
                                        <select class="form-select" id="targetAccountDropdown">
                                            <option value="-1">-- Select an Origin Account first--</option>
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <button class="btn btn-primary btn-sm" type="submit" id="submitButton" style="display:none;">
                                            Proceed
                                        </button>
                                        <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Back to List</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var originAccountDropdown = document.getElementById('originAccountDropdown');
            var targetAccountDropdown = document.getElementById('targetAccountDropdown');
            var accountsData = @Html.Raw(Json.Serialize(Model.Accounts));
            var recepientAccountIdInput = document.querySelector('input[name="RecepientAccountId"]');

            originAccountDropdown.addEventListener('change', function () {
                var selectedOriginAccountId = parseInt(originAccountDropdown.value);
                populateTargetDropdown(selectedOriginAccountId);
            });

            targetAccountDropdown.addEventListener('change', function () {
                updateRecepientAccountIdInput();
            });

            function populateTargetDropdown(selectedOriginAccountId) {
                targetAccountDropdown.innerHTML = '';
                var initialOption = document.createElement('option');
                initialOption.value = "-1";
                initialOption.textContent = "-- Select a Target Account --";
                targetAccountDropdown.appendChild(initialOption);

                for (var i = 0; i < accountsData.length; i++) {
                    if (accountsData[i].id !== selectedOriginAccountId) {
                        var option = document.createElement('option');
                        option.value = accountsData[i].id;
                        option.textContent = `${accountsData[i].name} - ${accountsData[i].balance} (${accountsData[i].currencyId})`;
                        targetAccountDropdown.appendChild(option);
                    }
                }

                updateSubmitButtonVisibility();
            }

            function updateRecepientAccountIdInput() {
                var selectedTargetAccountId = parseInt(targetAccountDropdown.value);
                recepientAccountIdInput.value = selectedTargetAccountId;
                updateSubmitButtonVisibility();
            }

            function updateSubmitButtonVisibility() {
                var selectedOriginAccountId = parseInt(originAccountDropdown.value);
                var selectedTargetAccountId = parseInt(targetAccountDropdown.value);
                var submitButton = document.getElementById('submitButton');

                if (selectedOriginAccountId !== -1 && selectedTargetAccountId !== -1) {
                    submitButton.style.display = 'inline-block';
                    document.querySelector('input[name="SenderAccountId"]').value = selectedOriginAccountId;
                } else {
                    submitButton.style.display = 'none';
                }
            }
        });
    </script>


    


}
