﻿@model OperationDetailsViewModel;
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Details of Operation";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">    
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    @if (User.IsInRole("Admin"))
                    {
                        <h2 class="text-primary fw-bold m-0">Details about '@this.Model.InternalType' with id '@this.Model.Id'</h2>
                    }
                    else if(!this.Model.IsCreated)
                    {
                        <h2 class="text-primary fw-bold m-0">Details about your Operation</h2>
                    }
                    else if (this.Model.IsCreated)
                    {
                        <h2 class="text-primary fw-bold m-0">Operation executed</h2>
                    }
            
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h4 class="mb-0"><strong>Type</strong></h4><span class="text-m">@this.Model.Type</span>
                            </div>                    
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h4 class="mb-0"><strong>Date</strong></h4><span class="text-m">@this.Model.Date</span>
                            </div>
                        </div>
                    </li>
                    @if (Model.InternalType == "Transfer")
                    {
                        @if (Model.IsIncoming)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4><span class="text-m">@this.Model.From</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4><span class="text-m">@this.Model.From (Current Balance: @Model.CurrentBalance @Model.OriginCurrency)</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }            
                    @if (Model.InternalType == "Transaction")
                    {
                        if (this.Model.SenderUserId == Int32.Parse(SignInManager.UserManager.GetUserId(User)) || User.IsInRole("Admin"))
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4><span class="text-m">@this.Model.From (Current Balance: @Model.CurrentBalance @Model.OriginCurrency)</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>From</strong></h4><span class="text-m">@this.Model.From</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }            
            
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h4 class="mb-0"><strong>Origin Amount (@Model.OriginCurrency)</strong></h4><span class="text-m">@this.Model.OriginAmount</span>
                            </div>
                        </div>
                    </li>
                    @if (Model.InternalType == "Transfer")
                    {
                        @if (Model.IsIncoming)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4><span class="text-m">@this.Model.To (Current Balance: @Model.CurrentBalance @Model.TargetCurrency)</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4><span class="text-m">@this.Model.To</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    @if (Model.InternalType == "Transaction")
                    {
                        if (this.Model.RecepeintUserId == Int32.Parse(SignInManager.UserManager.GetUserId(User)) || User.IsInRole("Admin"))
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4><span class="text-m">@this.Model.To (Current Balance: @Model.TargetCurrentBalance @Model.TargetCurrency)</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>To</strong></h4><span class="text-m">@this.Model.To</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }            
           
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h4 class="mb-0"><strong>Target Amount (@Model.TargetCurrency)</strong></h4><span class="text-m">@this.Model.TargetAmount</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h4 class="mb-0"><strong>Description</strong></h4><span class="text-m">@this.Model.Description</span>
                            </div>
                        </div>
                    </li>
                    @if (this.Model.ExchangeRate is not null)
                    {
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Exchange Rate</strong></h4>
                                    <span class="text-m">1 @this.Model.OriginCurrency = @this.Model.ExchangeRate @this.Model.TargetCurrency</span>
                                </div>
                            </div>
                        </li>
                    }            
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                @if (this.Model.InternalType == "Transfer"
                                && this.Model.SenderUserId == Int32.Parse(SignInManager.UserManager.GetUserId(User)) 
                                && User.Claims.ElementAt(6).Value == "False")
                                {
                                    <a asp-controller="Operations" asp-action="CreateSimilarTransfer" 
                                       asp-route-id="@this.Model.Id" method="get"
                                       class="btn btn-primary btn-sm" type="button">
                                        Create Similar Operation
                                    </a>
                                }
                                @if (this.Model.InternalType == "Transaction" 
                                    && this.Model.SenderUserId == Int32.Parse(SignInManager.UserManager.GetUserId(User))
                                    && User.Claims.ElementAt(6).Value == "False")
                                {
                                    <a asp-controller="Operations" asp-action="CreateSimilarTransaction"
                                       asp-route-id="@this.Model.Id" method="get"
                                       class="btn btn-primary btn-sm" type="button">
                                        Create Similar Operation
                                    </a>
                                }
                                @if (this.Model.IsCreated)
                                {
                                    <a asp-controller="Operations" asp-action="Index" asp-route-sortorder="desc" class="btn btn-secondary btn-sm" type="button">To Operations</a>                                    
                                }
                                else
                                {
                                    <button class="btn btn-secondary btn-sm" type="button" onclick="history.back()">Back</button>
                                }
                        
                            </div>
                        </div>
                    </li>            
                </ul>
            </div>
        </div>
    </div>
</div>