﻿@model PaginatedList<OperationsViewModel>
@inject SignInManager<User> SignInManager
@{
    var parameter = this.Model.OperationsFilterParams;

}

@{
    this.ViewData["Title"] = "Operations";
}

<div class="container-fluid">
    @if (User.IsInRole("Admin"))
    {
        
        if (parameter.AccountId is not null)
        {
            <h3 class="text-dark mb-4">
                All Operations for Account with id '@parameter.AccountId'"
            </h3>
        }
        else
        {
            <h3 class="text-dark mb-4">
                All Operations in the system
            </h3>
        }
    }
    else
    {
        if (parameter.AccountId is not null)
        {
            <h3 class="text-dark mb-4">
                History for your Account '@parameter.AccountName'  (<a asp-controller="Operations" asp-action="Index" asp-route-sortorder="desc">All Operations</a>)
            </h3>
        }
        else
        {
            <h3 class="text-dark mb-4">
                Your operations
            </h3>
        }
    }
    
    
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                @if (parameter.Keyword is null)
                {
                    <div class="col-md-6 col-xxl-7 text-nowrap">
                        <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Operations</p>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-xxl-7 text-nowrap">
                        <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Operations containing Keyword '@parameter.Keyword'
                              (<a asp-controller="Operations" asp-action="index" asp-route-accountid="@parameter.AccountId" asp-route-sortorder="desc">Exit Keyword Search</a>)</p>
                    </div>
                }
            
                @if (User.Claims.ElementAt(6).Value == "False")
                {
                    <div class="col-md-6 col-xxl-4 text-nowrap">
                        <form asp-controller="Operations" asp-action="CreateOperationDistributor" method="get">
                            <div id="createOperation" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">
                                    <strong>Create Operation   </strong>
                                    <select class="d-inline-block form-select form-select-sm" name="id" onchange="handleOperationChange(this)">
                                        <option value="-1" selected>Create an Operation</option>
                                        <option value="1">Add Money to Account</option>
                                        <option value="2">Withdrawal to Bank Card</option>
                                        <option value="3">Exchange in own Accounts</option>
                                        <option value="4">Payment to User</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                }
                
            </div>
        </div>        
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">                            
                            <form asp-controller="Operations" asp-action="Index" method="get">                                
                                <label class="form-label">
                                    Show 
                                    <select class="d-inline-block form-select form-select-sm" name="PageSize" onchange="this.form.submit()">
                                        @if (parameter.PageSize == 3)
                                        {
                                            <option value="3" selected>3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 5)
                                        {
                                            <option value="3">3</option>
                                            <option value="5" selected>5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 10)
                                        {
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 20)
                                        {
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20" selected>20</option>
                                            <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == -1)
                                        {
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="-1" selected>All</option>
                                        }
                                        @if (parameter.Keyword is not null)
                                        {
                                            <input type="hidden" name="Keyword" value="@parameter.Keyword" />
                                        }
                                        @if (parameter.AccountId is not null)
                                        {
                                            <input type="hidden" name="AccountId" value="@parameter.AccountId" />
                                        }
                                        
                                    </select>
                                </label>
                            </form>
                           
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="dataTable_filter" class="text-md-end dataTables_filter">
                        <label class="form-label">
                            <form asp-controller="Operations" asp-action="Index" method="get">
                                @if (parameter.Keyword is null)
                                {
                                    
                                    <input class="form-control form-control-sm" type="search" name="Keyword"                                           
                                           aria-controls="dataTable" placeholder="Search in Operations" />
                                    <input type="hidden" name="PageSize" value="@parameter.PageSize" />
                                    <input type="hidden" name="AccountId" value="@parameter.AccountId" />
                                }
                                else
                                {
                                    <input class="form-control form-control-sm" type="search" name="Keyword"
                                           aria-controls="dataTable" placeholder="Press Enter to exit" />
                                    <input type="hidden" name="PageSize" value="@parameter.PageSize" />
                                    <input type="hidden" name="AccountId" value="@parameter.AccountId" />
                                }                                
                            </form>
                        </label>
                    </div>
                </div>
            </div>
            <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>                            
                            @{
                                bool isDesc = parameter.SortOrder == "desc";
                                var desc = isDesc ? "" : "desc";
                            }                            
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="type" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">Type</a>
                            </th>
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="date" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">Date</a>
                            </th>
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="from" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">From</a>
                            </th>
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="to" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">To</a>
                            </th>
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="origin" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">Origin Amount</a>
                            </th>
                            <th>
                                <a asp-controller="Operations" asp-action="Index"
                                   asp-route-sortby="target" asp-route-sortorder="@desc"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-keyword="@parameter.Keyword">Target Amount</a>
                            </th>                                                             
                                                     
                            <th>Details</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var operation in this.Model)
                        {
                            <tr>
                                <td>@operation.Type</td>
                                <td>@operation.Date</td>
                                <td>@operation.From</td>
                                <td>@operation.To</td>
                                <td>@operation.OriginAmount</td>
                                <td>@operation.TargetAmount</td>
                                <td>
                                    <a asp-controller="Operations" asp-action="Details"
                                       asp-route-id="@operation.Id" asp-route-type="@operation.InternalType"
                                       method="get">Details</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            @{string ascDesc = "(ascending)";}
                            @if(parameter.SortOrder == "desc")
                            {
                                ascDesc = "(descending)";
                            }

                            @if (parameter.SortBy is null)
                            {
                                <td><strong>Sorted by Date @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "date")
                            {
                                <td><strong>Sorted by Date @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "type")
                            {
                                <td><strong>Sorted by Type @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "from")
                            {
                                <td><strong>Sorted by From @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "to")
                            {
                                <td><strong>Sorted by To @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "origin")
                            {
                                <td><strong>Sorted by Origin Amount @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "target")
                            {
                                <td><strong>Sorted by Target Amount @ascDesc</strong></td>
                            }                            
                           
                        </tr>
                    </tfoot>
                </table>
            </div>
            @{
                string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
                string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
            }
            <div class="row">
                <div class="col-md-6 align-self-center">
                    @if (parameter.PageSize != -1)
                    {
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                            Showing @(this.Model.PageNumber * parameter.PageSize - (parameter.PageSize - 1)) to
                            @if (this.Model.PageNumber * parameter.PageSize > this.Model.TotalNumberItems)
                            {
                                @(this.Model.TotalNumberItems)
                            }
                            else
                            {
                                @(this.Model.PageNumber * parameter.PageSize)
                            }
                            of @this.Model.TotalNumberItems
                        </p>
                    }
                    else
                    {
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                            Showing 1 to @(this.Model.TotalNumberItems) of @this.Model.TotalNumberItems                            
                        </p>
                    }
                    
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            
                            <li class="page-item @prevButtonState">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="Operations" asp-action="Index"
                                   asp-route-keyword="@parameter.Keyword"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-sortby="@parameter.SortBy"
                                   asp-route-sortorder="@parameter.SortOrder"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-PageNumber="@(this.Model.PageNumber-1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            @{
                                int currentPageNumber = this.Model.PageNumber;
                                for (int i = 1; i <= this.Model.TotalPages; i++)
                                {
                                    if (i == currentPageNumber)
                                    {
                                        <li class="page-item active">
                                            <a class="page-link" href="#">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        @if (parameter is not null)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" 
                                                   asp-controller="Operations" asp-action="Index"
                                                   asp-route-keyword="@parameter.Keyword"
                                                   asp-route-AccountId="@parameter.AccountId"
                                                   asp-route-sortby="@parameter.SortBy"
                                                   asp-route-sortorder="@parameter.SortOrder"
                                                   asp-route-pagesize="@parameter.PageSize"
                                                   asp-route-PageNumber="@i">@i
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            }


                            <li class="page-item @nextButtonState">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="Operations" asp-action="Index"
                                   asp-route-keyword="@parameter.Keyword"
                                   asp-route-AccountId="@parameter.AccountId"
                                   asp-route-sortby="@parameter.SortBy"
                                   asp-route-sortorder="@parameter.SortOrder"
                                   asp-route-pagesize="@parameter.PageSize"
                                   asp-route-PageNumber="@(this.Model.PageNumber+1)">
                                   <span aria-hidden="true">»</span>
                                </a>
                            </li>                          
                            
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to handle the operation dropdown change
    function handleOperationChange(selectElement) {
        var selectedValue = selectElement.value;

        // Only submit the form if a different option is selected
        if (selectedValue !== '-1') {
            selectElement.form.submit(); // Submit the form
        }
    }

    window.onload = function () {
        var dropdown = document.querySelector('select[name="id"]');
        dropdown.value = '-1'; // Set default value
    };
</script>

