﻿@model PaymentViewModel;
@inject SignInManager<User> SignInManager;

@{
    this.ViewData["Title"] = "Create Payment";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="text-primary fw-bold m-0">Create Payment to User '@Model.RecepientUserName'</h2>
                </div>
                <form asp-controller="Operations" asp-action="ConfirmPayment" method="get">
                    <input type="hidden" asp-for="@this.Model.SenderUserId" readonly />
                    <input type="hidden" asp-for="@this.Model.RecepientUserId" readonly />
                    <input type="hidden" asp-for="@this.Model.RecepientUserName" readonly />
                    <input type="hidden" asp-for="@this.Model.SenderAccountId" readonly />
                    <input type="hidden" asp-for="@this.Model.RecepientAccountId" readonly />
                    <input type="hidden" asp-for="@this.Model.IsInternal" readonly />
                    <input type="hidden" asp-for="@this.Model.Type" readonly />
                    <input type="hidden" asp-for="@this.Model.From" readonly />
                    <input type="hidden" asp-for="@this.Model.To" readonly />
                    <input type="hidden" asp-for="@this.Model.CurrentOriginBalance" readonly />            
                    <input type="hidden" asp-for="@this.Model.OriginCurrencyId" readonly />
                    <input type="hidden" asp-for="@this.Model.TargetCurrencyId" readonly />
                    <input type="hidden" asp-for="@this.Model.CurrentExchangeRate" readonly />
            
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Type</strong></h4>
                                    <span class="text-m">@Model.Type</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>From</strong></h4>
                                    <span class="text-m">@Model.From (Current Balance: @Model.CurrentOriginBalance @Model.OriginCurrencyId)</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Origin Amount (@Model.OriginCurrencyId)</strong></h4>
                                    <span id="origin" class="text-m" style="color: royalblue">@Model.OriginAmount</span>
                                    <input type="hidden" id="calculatedOrigin" name="CalculatedOrigin" value="@Model.OriginAmount" />
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>To</strong></h4>
                                    <span class="text-m">@Model.To</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Target Amount (@Model.TargetCurrencyId)</strong></h4>
                                    <input id="target" class="form-control" asp-for="TargetAmount" style="color: royalblue;" oninput="updateOrigin()" />
                                    @*<span asp-validation-for="TargetAmount" class="text-danger"></span>*@
                                </div>
                            </div>
                        </li>
                        @if (Model.OriginCurrencyId != Model.TargetCurrencyId)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>Current Exchange Rate</strong></h4>
                                        <span class="text-m">@Model.CurrentExchangeRate</span>
                                    </div>
                                </div>
                            </li>
                        }
                
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h4 class="mb-0"><strong>Description</strong></h4>
                                    <input class="form-control" asp-for="Description" style="color: royalblue;" />
                                    @*<span asp-validation-for="Description" class="text-danger"></span>*@
                                </div>
                            </div>
                        </li>
                        @if (Model.OriginCurrencyId != Model.TargetCurrencyId)
                        {
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h4 class="mb-0"><strong>Note</strong></h4>
                                        <span class="text-m">Exchange rates change very quickly. It could be that the original amount in the next steps differs from the one listed here.</span>
                                    </div>
                                </div>
                            </li>
                        }                
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <button class="btn btn-primary btn-sm" type="submit">
                                        Review & Confirm
                                    </button>
                                    <a asp-controller="Operations" asp-action="Index" asp-route-sortorder="desc" class="btn btn-secondary btn-sm" type="button">Cancel</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function updateOrigin() {
        var targetValue = parseFloat(document.getElementById("target").value);
        var calculatedOriginField = document.getElementById("calculatedOrigin"); // Hidden input field
        var multiplier = @Html.Raw(Json.Serialize(Model.CurrentExchangeRate));
        var updatedValue = (targetValue / multiplier).toFixed(2);
        calculatedOriginField.value = updatedValue; // Update hidden input value

        var originField = document.getElementById("origin");
        originField.innerText = updatedValue;
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        updateOrigin();
    });
</script>


