﻿@{
    ViewData["Title"] = "About";
}

<h3 class="text-dark mb-1">About</h3>
<div class="row justify-content-center">
    <div class="col-xxl-10">
        <section class="py-4 py-xl-5">
            <div class="container h-100">
                <div class="text-white bg-primary border rounded border-0 p-4 py-5">
                    <div class="row h-100">
                        <div class="col-md-10 col-xl-8 col-xxl-6 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div>
                                <h1 class="text-uppercase fw-bold text-white mb-3">This app was created by:</h1>
                                <p class="mb-4">Team 02: Vladimir Novkov, Kristiana Gigova, Petar Petrov</p>
                                <p class="mb-4"><small>Telerik Academy: Alpha 47 C#</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>