﻿@{
    ViewData["Title"] = "Public";
}

<div class="row gy-4 gy-md-0">
    <div class="col-auto text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center" style="background: #ffffff;padding-left: 32px;">
        <div style="max-width: 350px;">
            <h2 class="text-uppercase fw-bold">welcome to our wallet app!</h2>
            <p class="my-3">Manage your money more quickly and enjoy the superior functionality!</p>
            <a class="btn btn-primary btn-lg me-2" role="button" asp-controller="Users" asp-action="Login">Login</a>
            <a class="btn btn-outline-primary btn-lg" role="button" asp-controller="Users" asp-action="Register">Register</a>
        </div>
    </div>
    <div class="col" style="padding-right: 0;padding-left: 0;">
        <div><img class="rounded img-fluid w-100 h-100" style="min-height: 300px;" src="~/images/imgWallet.png"></div>
    </div>
</div>