﻿@model User;

 <div class="modal fade" id="unblockModal-@this.Model.Id" tabindex="-1" aria-labelledby="unblockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unblockModalLabel">Confirm Action</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unblock <strong>@this.Model.UserName</strong>?</p>
            </div>
            <div class="modal-footer">                    
                <form asp-controller="Users" asp-action="Unblock" method="post">
                    <input type="hidden" name="id" value="@this.Model.Id" />
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>              
            </div>
        </div>
    </div>
</div>