﻿@{
	ViewData["Title"] = "ChangePassword";
}

@model ChangePasswordViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10 col-xxl-5 offset-xxl-0">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-2">Change Your Password</h4>
                                </div>
                                <form class="user" asp-controller="Users" asp-action="ChangePassword" method="post">
                                    <div class="mb-3">
                                        <input class="form-control form-control-user" type="text" id="userName" aria-describedby="userNameHelp" name="username" asp-for="UserName" readonly hidden>
                                        <input class="form-control form-control-user" type="password" id="Password" aria-describedby="passwordHelp" placeholder="Current password" name="password" asp-for="Password" style="margin-bottom: 14px;">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <input class="form-control form-control-user" type="password" id="newPassword" aria-describedby="newPasswordHelp" placeholder="New Password" name="newpassword" asp-for="NewPassword" style="margin-bottom: 14px;">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        <input class="form-control form-control-user" type="password" id="confirmPassword" aria-describedby="confirmPasswordHelp" placeholder="Confirm Password" name="confirmpassword" asp-for="ConfirmPassword">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Change Password</button>
                                </form>
                                <div class="text-center">
                                    <hr><a class="small" onclick="history.back()">Back to Profile!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>