﻿@{
    this.ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10 col-xxl-5">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="text-dark mb-4">Confirm Email</h1>
                                </div>
                                <form class="user">
                                    <div class="mb-3">                                     
                                        <p class="text-dark mb-5 lead text-center">Thank you for confirming your email.</p>
                                    </div>                                        
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>