﻿@{
    this.ViewData["Title"] = "Details";
}

@model User;
@inject SignInManager<User> SignInManager

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-xxl-8 col-md-12">
            <div class="card shadow-lg o-hidden border-0">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-7 col-xxl-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Profile Info</h4>
                                </div>
                                 <form class="user">
                                    <div class="mb-3">
                                        @if (this.Model.IsBlocked)
                                        {
                                            <p class="text-danger lead">This user is blocked!</p>
                                        }
                                        @if (this.ViewData["EmailMessage"] != null)
                                        {
                                            <p class="text-danger lead">@this.ViewData["EmailMessage"]</p>
                                        }
                                    </div>
                                    <div class="row">
                                        <div class="col-xxl-5">
                                            <div class="text-center mb-4"><img class="rounded-circle" src="@Url.Content(this.Model.AvatarURL)" width="256" height="256"></div>
                                        </div>
                                        <div class="col">                                          
                                            <div class="mb-3">													
												<p><strong>Full Name: </strong>@this.Model.FirstName  @this.Model.LastName</p>
                                            </div>
                                            <div class="mb-3">
												<p><strong>Email: </strong>@this.Model.Email</p>
                                            </div>
                                            <div class="mb-3">
												<p><strong>Phone Number: </strong>@this.Model.PhoneNumber</p>
                                            </div>
                                            <div class="mb-3">
												<p><strong>User Name: </strong>@this.Model.UserName</p>
                                            </div>
                                            <div class="mb-3">
												<p><strong>Joined in: </strong>@this.Model.CreatedAt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <div class="text-center">
												<div class="btn-group" role="group">                                      
													@if (SignInManager.IsSignedIn(User))
													{

														if (this.Model.Id == Int32.Parse(SignInManager.UserManager.GetUserId(User)))
														{
                                                                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@this.Model.Id" class="btn btn-outline-primary btn-user w-50 d-flex align-items-center justify-content-center">Edit</a>
														}

														@if (this.Model.Id == Int32.Parse(SignInManager.UserManager.GetUserId(User)))
														{
                                                            <a asp-controller="Users" asp-action="ChangePassword" asp-route-id="@this.Model.Id" class="btn btn-primary btn-user w-50">Change Password</a>
														} 
													}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>