﻿@model PaginatedList<User>
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Users";   
    var parameter = this.Model.UsersFilterParams;
}

<h3 class="text-dark mb-4">Users</h3>
<div class="row justify-content-center">
    <div class="col-auto w-75">
         <div class="card shadow">
            @if (parameter.Keyword is null)
            {
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Users</p>
                </div>
            }
            else
            {
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Users containing Keyword '@parameter.Keyword'</p>
                </div>
            }

        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">                            
                            <form asp-controller="Users" asp-action="Index" method="get">                                
                                <label class="form-label">
                                    Show 
                                    <select class="d-inline-block form-select form-select-sm" name="PageSize" onchange="this.form.submit()">
                                            @{                                     
                                                if (parameter.PageSize == 3)
                                                {
                                                            <option value="3" selected>3</option>
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="-1">All</option>
                                                }
                                                if (parameter.PageSize == 5)
                                                {
                                                            <option value="3">3</option>
                                                            <option value="5" selected>5</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="-1">All</option>
                                                }
                                                if (parameter.PageSize == 10)
                                                {
                                                            <option value="3">3</option>
                                                            <option value="5">5</option>
                                                            <option value="10" selected>10</option>
                                                            <option value="20">20</option>
                                                            <option value="-1">All</option>
                                                }
                                                if (parameter.PageSize == 20)
                                                {
                                                            <option value="3">3</option>
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="20" selected>20</option>
                                                            <option value="-1">All</option>
                                                }
                                                if (parameter.PageSize == -1)
                                                {
                                                            <option value="3">3</option>
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="-1" selected>All</option>
                                                }
                                                if (parameter.Keyword is not null)
                                                {
                                                        <input type="hidden" name="Keyword" value="@parameter.Keyword" />
                                                }                                       
                                            }
                                    </select>
                                </label>
                            </form>
                        </label>
                    </div>
                </div>
            </div>
            <div id="dataTable" class="table-responsive mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>                            
                            @{
                                bool isDesc = parameter.SortOrder == "desc";
                                var desc = isDesc ? "" : "desc";
                            }
                            <th>
                            <a asp-controller="Users" asp-action="Index"
                                asp-route-sortby="type" asp-route-sortorder="@desc"
                                asp-route-pagesize="@parameter.PageSize"
                                asp-route-keyword="@parameter.Keyword">User Name</a>
                            </th>                                                                                                       
                            <th>Actions</th>                            
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var user in this.Model)
                            {
                                <tr>
                                    <td class="col-auto">
                                        <img src= "@Url.Content(user.AvatarURL)" alt="Profile Picture" class="mr-3 rounded-circle" style="width:50px;height:50px"/>
                                        @user.UserName
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin") || user.Id == Int32.Parse(SignInManager.UserManager.GetUserId(User)))
                                        {
                                            <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-outline-primary ">Profile</a>
                                        }
                                        @if (User.IsInRole("Admin") && (user.Id != Int32.Parse(SignInManager.UserManager.GetUserId(User))))
                                        {                                                                     
                                            @if (!user.IsBlocked)
                                            {	
                                                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#blockModal-@user.Id" data-user-id="@user.Id">Block</button>                                               
                                                <partial name="_Block" model=@user />
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#unblockModal-@user.Id" data-user-id="@user.Id">Unblock</button>
                                                <partial name="_Unblock" model=@user />                                           
                                            }

                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@user.Id" data-user-id="@user.Id">Delete</button>
                                            <partial name="_Delete" model=@user />                                                               
                                        }
                                        @if (user.Id != Int32.Parse(SignInManager.UserManager.GetUserId(User)))
                                        {
                                            <a asp-controller="Operations" asp-action="CreatePaymentToUser" asp-route-id="@user.Id" class="btn btn-primary">Send Money</a>
                                        }
                                    </td>
                                </tr>
                            }
                    </tbody>
                    <tfoot>
                        <tr>
                                @{
                                    string ascDesc = "(ascending)";
                                }
                                @if (parameter.SortOrder == "desc")
                                {
                                    ascDesc = "(descending)";
                                }

                            <td><strong>Sorted by User Name @ascDesc</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
                @{
                    string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
                    string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
                }
                <div class="row">
                <div class="col-md-6 align-self-center">
                        @if (parameter.PageSize != -1)
                        {
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                Showing @(this.Model.PageNumber * parameter.PageSize - (parameter.PageSize - 1)) to
                                @if (this.Model.PageNumber * parameter.PageSize > this.Model.TotalNumberItems)
                                {
                                    @(this.Model.TotalNumberItems)
                                }
                                else
                                {
                                    @(this.Model.PageNumber * parameter.PageSize)
                                }
                                of @this.Model.TotalNumberItems
                            </p>
                        }
                        else
                        {
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                Showing 1 to @(this.Model.TotalNumberItems) of @this.Model.TotalNumberItems                            
                            </p>
                        }

                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">

                            <li class="page-item @prevButtonState">
                                <a class="page-link" aria-label="Previous"
                                    asp-controller="Users" asp-action="Index"
                                    asp-route-keyword="@parameter.Keyword"
                                    asp-route-sortby="@parameter.SortBy"
                                    asp-route-sortorder="@parameter.SortOrder"
                                    asp-route-pagesize="@parameter.PageSize"
                                    asp-route-PageNumber="@(this.Model.PageNumber-1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                                @{
                                    int currentPageNumber = this.Model.PageNumber;
                                    for (int i = 1; i <= this.Model.TotalPages; i++)
                                    {
                                        if (i == currentPageNumber)
                                        {
                                                    <li class="page-item active">
                                                        <a class="page-link" href="#">@i</a>
                                                    </li>
                                        }
                                        else
                                        {
                                            @if (parameter is not null)
                                            {
                                                            <li class="page-item">
                                                                <a class="page-link" 
                                                    asp-controller="Users" asp-action="Index"
                                                    asp-route-keyword="@parameter.Keyword"
                                                    asp-route-sortby="@parameter.SortBy"
                                                    asp-route-sortorder="@parameter.SortOrder"
                                                    asp-route-pagesize="@parameter.PageSize"
                                                    asp-route-PageNumber="@i">@i
                                                                </a>
                                                            </li>
                                            }
                                        }
                                    }
                                }
                            <li class="page-item @nextButtonState">
                                <a class="page-link" aria-label="Previous"
                                    asp-controller="Users" asp-action="Index"
                                    asp-route-keyword="@parameter.Keyword"
                                    asp-route-sortby="@parameter.SortBy"
                                    asp-route-sortorder="@parameter.SortOrder"
                                    asp-route-pagesize="@parameter.PageSize"
                                    asp-route-PageNumber="@(this.Model.PageNumber+1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
       