﻿@{
	ViewData["Title"] = "Login";
}

@model LoginViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10 col-xxl-5">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Login</h4>
                                </div>
                                <form class="user" asp-controller="Users" asp-action="Login" method="post">
                                    @if (this.ViewData["EmailMessage"] != null)
                                    {
                                        <p class="text-danger lead">@this.ViewData["EmailMessage"]</p>
                                    }
                                    <div class="mb-3">
                                        <input class="form-control form-control-user" type="text" id="userNameInput" aria-describedby="userNameHelp" placeholder="User Name" name="userName" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check">
                                                <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1" asp-for="RememberMe">
                                                <label class="form-check-label custom-control-label" for="formCheck-1" asp-for="RememberMe">Remember Me</label>
                                            </div>
                                        </div>
                                    </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" asp-controller="Users" asp-action="Register">Register!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>