﻿@{
    this.ViewData["Title"] = "Register";
}

@model RegisterViewModel

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-xxl-8 col-md-12">
            <div class="card shadow-lg o-hidden border-0">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-7 col-xxl-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Register</h4>
                                </div>
                                <form class="user" asp-controller="Users" asp-action="Register" method="post" enctype="multipart/form-data">
                                    <div class="row mb-3">
                                        <div class="col-xxl-5">
                                            <div class="text-center mb-4">
                                                <input asp-for="ImageFile" id="myFile" class="btn btn-primary" type="file" accept=".png, .jpeg, .jpg" hidden/>	
                                                <img id="avatar-preview" class="rounded-circle" src="~/images/default-avatar.jpg" width="256" height="256" alt="Image preview...">
                                                @section scripts {
                                                    <script src="~/js/AvatarPreview.js"></script>
                                                }                                                   
                                            </div>
                                            <div class="text-center">
                                                <label for="myFile" class="btn btn-secondary btn-user rounded-4 w-50">Upload Image</label>
                                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row mb-3">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input class="form-control form-control-user" type="text" id="InputFirstName" placeholder="First Name" name="firstName" asp-for="FirstName">
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input class="form-control form-control-user" type="text" id="InputLastName" placeholder="Last Name" name="lastName" asp-for="LastName">
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email" asp-for="Email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="tel" id="InputPhoneNumber" aria-describedby="phoneNumberlHelp" placeholder="Phone Number" name="phoneNumber" asp-for="PhoneNumber">
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="text" id="InputUserName" aria-describedby="userNameHelp" placeholder="User Name" name="userName" asp-for="UserName">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input class="form-control form-control-user" type="password" id="PasswordInput" placeholder="Password" name="password" asp-for="Password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input class="form-control form-control-user" type="password" id="confirmPasswordInput" placeholder="Confirm Password" name="confirmPassword" asp-for="ConfirmPassword">
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <div class="text-center"><button class="btn btn-primary btn-user w-50" type="submit">Register</button></div>
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" asp-controller="Users" asp-action="Login">Already have an account? Login!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>