﻿@model UserWithCardsViewModel;
 @inject SignInManager<User> SignInManager

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 @{
            this.ViewData["Title"] = "Index";
        var isBlocked = User.Claims.ElementAt(6).Value == "True";
        var isEmailConfirmed = User.Claims.ElementAt(7).Value == "True";
        }


<div class="card shadow">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <p class="text-primary m-0 fw-bold">Cards</p>
        @if ( !isBlocked && isEmailConfirmed)
        {
             <button class="plus-button" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
        }
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="col d-flex bank-card-container">
                    @foreach (var card in Model.Cards)
                    {
                    <div class="bank-card">
                        <div class="bank-card-options">
       
                                @if ( !isBlocked && isEmailConfirmed)
                                {
                                    <button class="update-button" data-bs-toggle="modal"
                                data-bs-target="#updateModal-@card.Id">Update</button>
                            <form asp-controller="BankCards" asp-action="Delete" method="post">
                                <input type="hidden" name="bankCardId" value="@card.Id" />
                                <button type="button" class="delete-button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@card.Id">Delete</button>
                            </form>
                                }
                                
                        </div>
                        <div>
                            <img class="bank-card-img" src=@card.CardLogo alt="">
                        </div>
                        <div class="bank-card-number">
                            <label class="fw-bold">@card.CardNumber</label>
                        </div>
                        <div class="bank-card-details">
                            <small><span> <b>Expiry date: </b></span><span>@card.ValidThrough</span></small>
                            <small><span><b>Holder: </b></span><span>@card.HolderName</span></small>
                        </div>
                    </div>
                    <div class="modal fade" id="updateModal-@card.Id" tabindex="-1" aria-labelledby="updateModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Update Card Information</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="BankCards" asp-action="UpdateAsync" method="post"
                                        class="update-form">
                                        <input type="hidden" name="Id" value="@card.Id" />

                                        <div class="mb-3">
                                            <label for="Name" class="form-label">Card Name</label>
                                            <input type="text" class="form-control" id="UpdateName" name="Name" />
                                            <div class="invalid-feedback" id="UpdateNameError"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="PIN" class="form-label">PIN</label>
                                            <input type="password" class="form-control" id="UpdatePIN" name="PIN" />
                                            <div class="invalid-feedback" id="UpdatePINError"></div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Update</button>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal-@card.Id" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this card?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <form asp-controller="BankCards" asp-action="Delete" method="post">
                                        <input type="hidden" name="bankCardId" value="@card.Id" />
                                        <button type="submit" class="btn btn-danger">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel">Create New Card</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="BankCards" asp-action="CreateAsync" method="post"
                                    class="create-form">
                                    <div class="mb-3">
                                        <label for="Name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="Name" name="Name" required />
                                        <div class="invalid-feedback" id="NameError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="CardNumber" class="form-label">Card Number</label>
                                        <input type="text" class="form-control" id="CardNumber" name="CardNumber"
                                            required />
                                        <div class="invalid-feedback" id="cardNumberError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ValidThrough" class="form-label">Valid Through</label>
                                        <input type="date" class="form-control" id="ValidThrough" name="ValidThrough"
                                            required />
                                        <div class="invalid-feedback" id="validThroughError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="HolderName" class="form-label">Holder Name</label>
                                        <input type="text" class="form-control" id="HolderName" name="HolderName"
                                            maxlength="28" required />
                                        <div class="invalid-feedback" id="holderNameError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="PIN" class="form-label">PIN</label>
                                        <input type="password" class="form-control" id="PIN" name="PIN" required />
                                        <div class="invalid-feedback" id="PINError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="CVV" class="form-label">CVV</label>
                                        <input type="text" class="form-control" id="CVV" name="CVV" required />
                                        <div class="invalid-feedback" id="CVVError"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="CardType" class="form-label">Card Type</label>
                                        <select class="form-select" id="CardType" name="CardType" required>
                                            <option value="0">Mastercard</option>
                                            <option value="1">Maestro</option>
                                            <option value="2">Visa</option>
                                            <option value="3">VisaElectron</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="CurrencyId" class="form-label">Currency ID</label>
                                        <input type="text" class="form-control" id="CurrencyId" name="CurrencyId"
                                            maxlength="3" required />
                                        <div class="invalid-feedback" id="CurrencyIdError"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="createButton"
                                        disabled>Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
<script src="~/js/BankCards.js"></script>
}