﻿.accounts-plus-button {
    width: 45px;
    height: 45px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

