﻿bank-card-body {
    background: #eee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bank-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; 
}

.bank-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px; 
    flex: 1;
    max-width: calc(33.33% - 20px);
    position: relative;
    cursor: pointer;
}

.bank-card-img {
    width: 100%;
    max-width: 80px;
    height: auto;
    object-fit: contain;
}

.bank-card-options {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.bank-card:hover .bank-card-options {
    display: block;
}

.bank-card-options button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #1c6acf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

    .bank-card-options button:hover {
        background-color: #16569e;
        transform: scale(1.05);
    }


.bank-card-number {
    font-size: 24px;
    margin-top: 1rem;
    font-weight: bold;
    color: black;
}

.bank-card-details {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plus-button {
    width: 45px;
    height: 45px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

