﻿@model Account

 <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Accounts" asp-action="Create" method="post" class="create-form">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required />
                        <div class="invalid-feedback" id="NameError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="CurrencyId" class="form-label">Currency ID</label>
                        <input type="text" class="form-control" id="CurrencyId" name="CurrencyId" maxlength="3"
                            required />
                        <div class="invalid-feedback" id="CurrencyIdError"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="createButton" disabled>Create</button>
                </form>
            </div>
        </div>
    </div>
</div>