﻿@model PaginatedList<Account>
@inject SignInManager<User> SignInManager

@{
    this.ViewData["Title"] = "Index";
    var parameter = this.Model.AccountFilterParameters;
    var isBlocked = User.Claims.ElementAt(6).Value == "True";
    var isEmailConfirmed = User.Claims.ElementAt(7).Value == "True";
}

<div class="container-fluid">


    @if (User.IsInRole("Admin"))
    {
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h3 class="text-dark mb-4"> All Accounts In The System </h3>
            <button class="accounts-plus-button" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
        </div>
    }
    else
    {
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h3 class="text-dark mb-4">Your Accounts</h3>
            @if ( !isBlocked && isEmailConfirmed)
            {
            <button class="accounts-plus-button" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
            }
        </div>
    }

    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                @if (parameter.Keyword is null)
                {
                    <div class="col-md-6 col-xxl-7 text-nowrap">
                        <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Accounts</p>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-xxl-7 text-nowrap">
                        <p class="text-primary m-0 fw-bold">@this.Model.TotalNumberItems Accounts containing Keyword
                            '@parameter.Keyword'
                            (<a asp-controller="Accounts" asp-action="index">Exit Keyword Search</a>)</p>
                    </div>
                }

                @if (User.Claims.ElementAt(6).Value == "False")
                {
                    <div class="col-md-6 col-xxl-4 text-nowrap">
                        <form asp-controller="Operations" asp-action="CreateOperationDistributor" method="get">
                            <div id="createOperation" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">
                                    <strong>Create Operation</strong>
                                    <select class="d-inline-block form-select form-select-sm" name="id"
                                        onchange="handleOperationChange(this)">
                                        <option value="-1" selected>Create an Operation</option>
                                        <option value="1">Add Money to Account</option>
                                        <option value="2">Withdrawal to Bank Card</option>
                                        <option value="3">Exchange in own Accounts</option>
                                        <option value="4">Payment to User</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">
                            <form asp-controller="Accounts" asp-action="Index" method="get">
                                <label class="form-label">
                                    Show 
                                    <select class="d-inline-block form-select form-select-sm" name="PageSize"
                                        onchange="this.form.submit()">
                                        @if (parameter.PageSize == 3)
                                        {
                                        <option value="3" selected>3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 5)
                                        {
                                        <option value="3">3</option>
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 10)
                                        {
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == 20)
                                        {
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20" selected>20</option>
                                        <option value="-1">All</option>
                                        }
                                        @if (parameter.PageSize == -1)
                                        {
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="-1" selected>All</option>
                                        }
                                        @if (parameter.Keyword is not null)
                                        {
                                        <input type="hidden" name="Keyword" value="@parameter.Keyword" />
                                        }
                                    </select>
                                </label>
                            </form>

                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="dataTable_filter" class="text-md-end dataTables_filter">
                        <label class="form-label">
                            <form asp-controller="Accounts" asp-action="Index" method="get">
                                @if (parameter.Keyword is null)
                                {

                                <input class="form-control form-control-sm" type="search" name="Keyword"
                                    aria-controls="dataTable" placeholder="Search in Accounts" />
                                <input type="hidden" name="PageSize" value="@parameter.PageSize" />
                                }
                                else
                                {
                                <input class="form-control form-control-sm" type="search" name="Keyword"
                                    aria-controls="dataTable" placeholder="Press Enter to exit" />
                                <input type="hidden" name="PageSize" value="@parameter.PageSize" />
                                }
                            </form>
                        </label>
                    </div>
                </div>
            </div>
            <div id="dataTable" class="table-responsive table mt-2" role="grid"
                aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>
                            @{
                            bool isDesc = parameter.SortOrder == "desc";
                            var desc = isDesc ? "" : "desc";
                            }
                            <th>
                                <a asp-controller="Accounts" asp-action="Index" asp-route-sortby="name"
                                    asp-route-sortorder="@desc" asp-route-pagesize="@parameter.PageSize"
                                    asp-route-keyword="@parameter.Keyword">Name</a>
                            </th>
                            <th>
                                <a asp-controller="Accounts" asp-action="Index" asp-route-sortby="balance"
                                    asp-route-sortorder="@desc" asp-route-pagesize="@parameter.PageSize"
                                    asp-route-keyword="@parameter.Keyword">Balance</a>
                            </th>
                            <th>
                                <a asp-controller="Accounts" asp-action="Index" asp-route-sortby="currencyId"
                                    asp-route-sortorder="@desc" asp-route-pagesize="@parameter.PageSize"
                                    asp-route-keyword="@parameter.Keyword">CurrencyId</a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <partial name="_CreatePartial" model="@new Account()" />

                        @foreach (var account in Model)
                        {
                        <tr>
                            <td>@account.Name</td>
                            <td>@account.Balance</td>
                            <td>@account.CurrencyId</td>
                            <td>
                                @if ( !isBlocked && isEmailConfirmed)
                                {
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@account.Id"
                                    data-account-id="@account.Id">Delete </button>
                                <button class="btn btn-primary edit-account-button" data-bs-toggle="modal"
                                    data-bs-target="#editModal-@account.Id"
                                    data-account-id="@account.Id">Edit</button>
                                <a asp-controller="Operations" asp-action="TransferFromAccountCreate"
                                    asp-route-id="@account.Id" asp-route-isincoming="true"
                                    class="btn btn-primary">Deposit</a>
                                <a asp-controller="Operations" asp-action="TransferFromAccountCreate"
                                    asp-route-id="@account.Id" asp-route-isincoming="false"
                                    class="btn btn-primary">Withdraw</a>
                                }

                                <a asp-controller="Operations" asp-action="Index"
                                    asp-route-accountid="@account.Id" class="btn btn-primary">History</a>
                            </td>
                        </tr>                        

                        <div class="modal fade" id="deleteModal-@account.Id" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this account?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <form asp-controller="Accounts" asp-action="Delete" method="post">
                                            <input type="hidden" name="accountId" value="@account.Id" />
                                            <button type="submit" class="btn btn-danger">Confirm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editModal-@account.Id" tabindex="-1"
                            aria-labelledby="editModalLabel-@account.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel-@account.Id">Edit Account
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="Accounts" asp-action="Update" method="post"
                                            class="edit-form">
                                            <input type="hidden" name="Id" value="@account.Id" />

                                            <div class="mb-3">
                                                <label for="UpdatedName-@account.Id"
                                                    class="form-label">Name</label>
                                                <input type="text" class="form-control"
                                                    id="UpdatedName-@account.Id" name="Name"
                                                    value="@account.Name" required />
                                                <div class="invalid-feedback" id="UpdatedNameError-@account.Id">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            @{string ascDesc = "(ascending)";}
                            @if(parameter.SortOrder == "desc")
                            {
                            ascDesc = "(descending)";
                            }

                            @if (parameter.SortBy is null)
                            {
                            <td><strong>Sorted by Name @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "balance")
                            {
                            <td><strong>Sorted by Balance @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "name")
                            {
                            <td><strong>Sorted by Name @ascDesc</strong></td>
                            }
                            @if (parameter.SortBy == "currencyId")
                            {
                            <td><strong>Sorted by Currency @ascDesc</strong></td>
                            }
                        </tr>
                    </tfoot>
                </table>
            </div>
            @{
            string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
            string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
            }
            <div class="row">
                <div class="col-md-6 align-self-center">
                    @if (parameter.PageSize != -1)
                    {
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                        Showing @(this.Model.PageNumber * parameter.PageSize - (parameter.PageSize - 1)) to
                        @if (this.Model.PageNumber * parameter.PageSize > this.Model.TotalNumberItems)
                        {
                        @(this.Model.TotalNumberItems)
                        }
                        else
                        {
                        @(this.Model.PageNumber * parameter.PageSize)
                        }
                        of @this.Model.TotalNumberItems
                    </p>
                    }
                    else
                    {
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                        Showing 1 to @(this.Model.TotalNumberItems) of @this.Model.TotalNumberItems
                    </p>
                    }

                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">

                            <li class="page-item @prevButtonState">
                                <a class="page-link" aria-label="Previous" asp-controller="Accounts"
                                    asp-action="Index" asp-route-keyword="@parameter.Keyword"
                                    asp-route-sortby="@parameter.SortBy"
                                    asp-route-sortorder="@parameter.SortOrder"
                                    asp-route-pagesize="@parameter.PageSize"
                                    asp-route-PageNumber="@(this.Model.PageNumber-1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            @{
                                int currentPageNumber = this.Model.PageNumber;
                                for (int i = 1; i <= this.Model.TotalPages; i++) 
                                { 
                                    if (i==currentPageNumber) 
                                    { 
                                        <li class="page-item active">
                                            <a class="page-link" href="#">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        @if (parameter is not null)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" asp-controller="Accounts" asp-action="Index"
                                                    asp-route-keyword="@parameter.Keyword"
                                                    asp-route-sortby="@parameter.SortBy"
                                                    asp-route-sortorder="@parameter.SortOrder"
                                                    asp-route-pagesize="@parameter.PageSize" asp-route-PageNumber="@i">@i
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            }


                            <li class="page-item @nextButtonState">
                                <a class="page-link" aria-label="Previous" asp-controller="Accounts"
                                    asp-action="Index" asp-route-keyword="@parameter.Keyword"
                                    asp-route-sortby="@parameter.SortBy"
                                    asp-route-sortorder="@parameter.SortOrder"
                                    asp-route-pagesize="@parameter.PageSize"
                                    asp-route-PageNumber="@(this.Model.PageNumber+1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Accounts.js"></script>
    <script>
        // Function to handle the operation dropdown change
        function handleOperationChange(selectElement) {
            var selectedValue = selectElement.value;

            // Only submit the form if a different option is selected
            if (selectedValue !== '-1') {
                selectElement.form.submit(); // Submit the form
            }
        }

        window.onload = function () {
            var dropdown = document.querySelector('select[name="id"]');
            dropdown.value = '-1'; // Set default value
        };
    </script>
}